CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2s=y

CONFIG_TARGET_KERNEL_PARTSIZE=80
CONFIG_TARGET_ROOTFS_PARTSIZE=1200
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y

CONFIG_PACKAGE_rtl8192ce-firmware=n
CONFIG_PACKAGE_rtl8192de-firmware=n
CONFIG_PACKAGE_rtl8192se-firmware=n
CONFIG_PACKAGE_rtl8723au-firmware=n
CONFIG_PACKAGE_rtl8723bs-firmware=n
CONFIG_PACKAGE_rtl8723bu-firmware=n
CONFIG_PACKAGE_rtl8821ae-firmware=n
CONFIG_PACKAGE_rtl8822be-firmware=n
CONFIG_PACKAGE_rtl8822ce-firmware=n
CONFIG_PACKAGE_kmod-rtw88-usb=n
CONFIG_PACKAGE_kmod-rtw88=n
CONFIG_PACKAGE_kmod-rtl8180=n
CONFIG_PACKAGE_kmod-rtl8192ce=n
CONFIG_PACKAGE_kmod-rtl8192de=n
CONFIG_PACKAGE_kmod-rtl8192se=n
CONFIG_PACKAGE_kmod-rtl8723bs=n
CONFIG_PACKAGE_kmod-rtl8821ae=n
CONFIG_PACKAGE_kmod-rtl88x2bu=n

CONFIG_ALL_KMODS=y
CONFIG_ALL_NONSHARED=y

CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_autocore-arm=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=n
CONFIG_PACKAGE_ipv6helper=n
CONFIG_PACKAGE_fullconenat=y

CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-i2c-algo-bit=y
CONFIG_PACKAGE_kmod-i2c-algo-pca=y
CONFIG_PACKAGE_kmod-i2c-algo-pcf=y
CONFIG_PACKAGE_kmod-i2c-core=y
CONFIG_PACKAGE_kmod-i2c-designware-pci=y
CONFIG_PACKAGE_kmod-i2c-gpio=y
CONFIG_PACKAGE_kmod-i2c-mux=y
CONFIG_PACKAGE_kmod-i2c-mux-gpio=y
CONFIG_PACKAGE_kmod-i2c-mux-pca9541=y
CONFIG_PACKAGE_kmod-i2c-mux-pca954x=y
CONFIG_PACKAGE_kmod-i2c-pxa=y
CONFIG_PACKAGE_kmod-i2c-smbus=y
CONFIG_PACKAGE_kmod-i2c-tiny-usb=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-usb-net=n
CONFIG_PACKAGE_kmod-usb-net-asix=n
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=n
CONFIG_PACKAGE_kmod-usb-net-cdc-eem=n
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=n
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=n
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=n
CONFIG_PACKAGE_kmod-usb-net-cdc-subset=n
CONFIG_PACKAGE_kmod-usb-net-dm9601-ether=n
CONFIG_PACKAGE_kmod-usb-net-hso=n
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=n
CONFIG_PACKAGE_kmod-usb-net-ipheth=n
CONFIG_PACKAGE_kmod-usb-net-kalmia=n
CONFIG_PACKAGE_kmod-usb-net-kaweth=n
CONFIG_PACKAGE_kmod-usb-net-mcs7830=n
CONFIG_PACKAGE_kmod-usb-net-pegasus=n
CONFIG_PACKAGE_kmod-usb-net-pl=n
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=n
CONFIG_PACKAGE_kmod-usb-net-rndis=n
CONFIG_PACKAGE_kmod-usb-net-rtl8150=n
CONFIG_PACKAGE_kmod-usb-net-rtl8152-vendor=n
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=n
CONFIG_PACKAGE_kmod-usb-net-smsc95xx=n
CONFIG_PACKAGE_kmod-usb-net-sr9700=n
CONFIG_PACKAGE_kmod-usb-net2280=n
CONFIG_PACKAGE_kmod-usb-ohci=n
CONFIG_PACKAGE_kmod-usb-ohci-pci=n
CONFIG_PACKAGE_kmod-usb-printer=n
CONFIG_PACKAGE_kmod-usb-storage=n
CONFIG_PACKAGE_kmod-usb-storage-extras=n
CONFIG_PACKAGE_kmod-usb-storage-uas=n
CONFIG_PACKAGE_kmod-usb-uhci=n
CONFIG_PACKAGE_kmod-usb2=n
CONFIG_PACKAGE_kmod-usb2-pci=n
CONFIG_PACKAGE_kmod-usb3=n
CONFIG_PACKAGE_kmod-video-core=y
CONFIG_PACKAGE_kmod-video-uvc=y

CONFIG_PACKAGE_kmod-ath=n
CONFIG_PACKAGE_kmod-ath6kl=n
CONFIG_PACKAGE_kmod-ath6kl-usb=n
CONFIG_PACKAGE_kmod-ath9k-common=n
CONFIG_PACKAGE_kmod-ath9k-htc=n
CONFIG_PACKAGE_kmod-carl9170=n
CONFIG_PACKAGE_kmod-lib80211=n
CONFIG_PACKAGE_kmod-libertas-usb=n
CONFIG_PACKAGE_kmod-mac80211=n
CONFIG_PACKAGE_kmod-mt7601u=n
CONFIG_PACKAGE_kmod-mt7603=n
CONFIG_PACKAGE_kmod-mt7663u=n
CONFIG_PACKAGE_kmod-mt76x0u=n
CONFIG_PACKAGE_kmod-mt76x2u=n
CONFIG_PACKAGE_kmod-net-prism54=n
CONFIG_PACKAGE_kmod-net-rtl8192su=n
CONFIG_PACKAGE_kmod-p54-common=n
CONFIG_PACKAGE_kmod-p54-usb=n
CONFIG_PACKAGE_kmod-rsi91x=n
CONFIG_PACKAGE_kmod-rsi91x-usb=n
CONFIG_PACKAGE_kmod-rt2500-usb=n
CONFIG_PACKAGE_kmod-rt2800-lib=n
CONFIG_PACKAGE_kmod-rt2800-usb=n
CONFIG_PACKAGE_kmod-rt2x00-lib=n
CONFIG_PACKAGE_kmod-rt2x00-usb=n
CONFIG_PACKAGE_kmod-rt73-usb=n
CONFIG_PACKAGE_kmod-rtl8187=n
CONFIG_PACKAGE_kmod-rtl8188eu=n
CONFIG_PACKAGE_kmod-rtl8192c-common=n
CONFIG_PACKAGE_kmod-rtl8192cu=n
CONFIG_PACKAGE_kmod-rtl8812au-ac=n
CONFIG_PACKAGE_kmod-rtl8821cu=n
CONFIG_PACKAGE_kmod-rtl8192du=n
CONFIG_PACKAGE_kmod-rtl8xxxu=n
CONFIG_PACKAGE_kmod-rtlwifi=n
CONFIG_PACKAGE_kmod-rtlwifi-usb=n
CONFIG_PACKAGE_kmod-zd1211rw=n
CONFIG_PACKAGE_ath9k-htc-firmware=n
CONFIG_PACKAGE_ddnsto=y
CONFIG_PACKAGE_linkease=y
CONFIG_PACKAGE_libertas-usb-firmware=y
CONFIG_PACKAGE_mt7601u-firmware=n
CONFIG_PACKAGE_p54-usb-firmware=n
CONFIG_PACKAGE_prism54-firmware=n
CONFIG_PACKAGE_rs9113-firmware=n
CONFIG_PACKAGE_rt2800-usb-firmware=n
CONFIG_PACKAGE_rt73-usb-firmware=n
CONFIG_PACKAGE_rtl8188eu-firmware=n
CONFIG_PACKAGE_rtl8192cu-firmware=n
CONFIG_PACKAGE_rtl8192eu-firmware=n
CONFIG_PACKAGE_rtl8192su-firmware=n
CONFIG_PACKAGE_rtl8723au-firmware=n
CONFIG_PACKAGE_rtl8723bu-firmware=n

#CONFIG_PACKAGE_kmod-backlight=y
#CONFIG_PACKAGE_kmod-drm=y
#CONFIG_PACKAGE_kmod-drm-kms-helper=y
#CONFIG_PACKAGE_kmod-drm-rockchip=y
#CONFIG_PACKAGE_kmod-fb=y
#CONFIG_PACKAGE_kmod-fb-cfb-copyarea=y
#CONFIG_PACKAGE_kmod-fb-cfb-fillrect=y
#CONFIG_PACKAGE_kmod-fb-cfb-imgblt=y
#CONFIG_PACKAGE_kmod-fb-sys-fops=y
#CONFIG_PACKAGE_kmod-fb-sys-ram=y
#CONFIG_PACKAGE_kmod-gpu-lima=y
#CONFIG_PACKAGE_kmod-multimedia-input=y

CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-diskman=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=n
CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Kcptun=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Dns2socks=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray-plugin=n
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_Plugin=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ssr-mudb-server=n
CONFIG_PACKAGE_luci-app-smartdns=n
CONFIG_PACKAGE_luci-app-vssr=n
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray=n
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Trojan=n
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Kcptun=n
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray_plugin=n
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_ShadowsocksR_Server=n
CONFIG_PACKAGE_luci-app-openclash=n
CONFIG_PACKAGE_luci-app-oled=n 
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-jd-dailybonus=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-netdata=y

CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-udpxy=n
CONFIG_PACKAGE_luci-app-iptvhelper=n
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-autoreboot=n
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-aria2=n
CONFIG_PACKAGE_luci-app-vsftpd=n


CONFIG_LUCI_LANG_ca=n
CONFIG_LUCI_LANG_cs=n
CONFIG_LUCI_LANG_de=n
CONFIG_LUCI_LANG_el=y
CONFIG_LUCI_LANG_es=y
CONFIG_LUCI_LANG_fr=n
CONFIG_LUCI_LANG_he=n
CONFIG_LUCI_LANG_hu=n
CONFIG_LUCI_LANG_it=n
CONFIG_LUCI_LANG_ja=n
CONFIG_LUCI_LANG_ko=n
CONFIG_LUCI_LANG_ms=n
CONFIG_LUCI_LANG_no=n
CONFIG_LUCI_LANG_pl=n
CONFIG_LUCI_LANG_pt=n
CONFIG_LUCI_LANG_pt-br=n
CONFIG_LUCI_LANG_ro=n
CONFIG_LUCI_LANG_ru=n
CONFIG_LUCI_LANG_sk=n
CONFIG_LUCI_LANG_sv=n
CONFIG_LUCI_LANG_tr=n
CONFIG_LUCI_LANG_uk=y
CONFIG_LUCI_LANG_vi=n
CONFIG_LUCI_LANG_zh-tw=y

CONFIG_PACKAGE_ariang=y
CONFIG_PACKAGE_baidupcs-web=n
CONFIG_PACKAGE_aria2=n
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_collectd-mod-thermal=y
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y
CONFIG_PACKAGE_ddns-scripts_freedns_42_pl=y
CONFIG_PACKAGE_ddns-scripts_godaddy.com-v1=y
CONFIG_PACKAGE_ddns-scripts_no-ip_com=y
CONFIG_PACKAGE_ddns-scripts_nsupdate=y
CONFIG_PACKAGE_ddns-scripts_route53-v1=y
CONFIG_PACKAGE_iperf=y
CONFIG_PACKAGE_minieap=y
CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_rsyncd=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_bind-host=y
CONFIG_PACKAGE_mentohust=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_openssh-sftp-client=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_pandownload-fake-server=y
CONFIG_PACKAGE_ppp-mod-pptp=y
CONFIG_PACKAGE_xl2tpd=y

CONFIG_PACKAGE_apk=y
CONFIG_PACKAGE_alpine-keys=y
CONFIG_PACKAGE_alpine-repositories=y
CONFIG_PACKAGE_bsdtar=y
CONFIG_PACKAGE_bzip2=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_gzip=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_zip=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_fstrim=y
CONFIG_PACKAGE_gpioctl-sysfs=y
CONFIG_PACKAGE_gpiod-tools=y
CONFIG_PACKAGE_i2c-tools=y
CONFIG_PACKAGE_irqbalance=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_lscpu=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_shadow-chsh=y
CONFIG_PACKAGE_vim-full=y
CONFIG_PACKAGE_f2fs-tools=y
CONFIG_PACKAGE_f2fsck=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_zsh=y
CONFIG_PACKAGE_snmpd=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_tmux=y

CONFIG_PACKAGE_tree=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_whereis=y
CONFIG_PACKAGE_gotop=y
CONFIG_PACKAGE_tmate=y
CONFIG_PACKAGE_udp2raw-tunnel=y
CONFIG_PACKAGE_udpspeeder=y
CONFIG_PACKAGE_uugamebooster=n

CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-serial-wwan=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_qmi-utils=y
CONFIG_PACKAGE_umbim=y
CONFIG_PACKAGE_uqmi=y
CONFIG_PACKAGE_comgt-ncm=y
CONFIG_PACKAGE_luci-proto-ncm=y
CONFIG_PACKAGE_comgt=y
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_luci-proto-3g=y

CONFIG_PACKAGE_libimobiledevice-utils=y
CONFIG_PACKAGE_libplist-utils=y
CONFIG_PACKAGE_libusbmuxd-utils=y

CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_libwslay=y
CONFIG_PACKAGE_libudev-fbsd=y

CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_hostapd-basic=y
CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_DRIVER_11AC_SUPPORT=y
CONFIG_DRIVER_11N_SUPPORT=y
CONFIG_DRIVER_11W_SUPPORT=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_wpad=y
CONFIG_PACKAGE_wpad-mini=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_wpa-supplicant=y
